#invite-box {
    border: 1px solid nth($blue, 1);
    display: flex;
    margin: auto;
    width: 50%;
    height: 25%;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 5% 0;

    h2, h3 {
        margin: 5px;
    }

    form {
        width: 50%;
    }

    #return-home, #accept {
        width: 50%;
        height: 25px;
        margin-top: 10px;
    }

    .button-box {
        width: 75%;
        display: flex;
        justify-content: space-around;

        button {
            margin: 5px;
        }
    }

    @media (max-width: 640px) {
        width: 85%;

        .button-box {
            flex-direction: column;

            button.three-d {
                width: 100% !important;
                margin: 0;
            }
        }
    }
}

#course-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .course_section_placeholder,
    div.section {
        background-color: lightgray;
        width: 100%;
        border-radius: 5px;
        margin: 10px 0;
    }

    .course_section_placeholder {
        height: calc(1.2em + 20px);
    }

    div.section {
        button.collapse-button {
            background-color: nth($blue, 1);
            border: none;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            color: white;
            cursor: pointer;
            margin: 0;
            padding: 10px;
            text-align: left;
            transition: border-radius 1s;
            width: 100%;
            font-size: 1.2em;

            &:after {
                content: '-';
                float: right;
                margin-left: 5px;
            }

            &.collapsed {
                border-radius: 8px;
                transition-delay: 1s;

                &:after {
                    content: '+';
                }
            }
        }

        div.collapse-section {
            background-color: nth($blue, 2);
            display: block;
            overflow: hidden;
            padding: 10px;
        }
    }

    #delete-button {
        margin-top: 5px;
    }

    .lesson {
        background-color: #628BA7;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        padding: 5%;
        border-radius: 8px;

        h5, p {
            color: $white;
        }

        h5, p, .three-d {
            margin: 10px auto;
            text-align: center;
            width: 50%;
        }

        .three-d {
            height: 25px;
        }
    }

    @media (max-width: 640px) {
        div.section div.collapse-section {
            width: auto !important;
        }
    }
}

#course-section-add-form {
    overflow: hidden;
    width: 75%;
    margin: 0 auto;

    fieldset {
        legend {
            width: max-content;
        }

        display: flex;
        flex-direction: column;
        border: 1.5px solid nth($blue, 1);
        border-radius: 8px;

        .submit-buttons {
            display: flex;
            justify-content: space-evenly;

            button {
                width: 45%;
                height: 25px;
            }
        }

        #new-section-description {
            padding-bottom: 150px;
            margin-bottom: 20px;
            vertical-align: top;
            word-wrap: break-word;
            word-break: break-all;
        }
    }
}

.course-button-mini {
    width: 20%;
    height: 25px;

    &:not(:first-of-type),
    &:last-of-type {
        margin-bottom: 10px;
    }
}
