@use "sass:color";

#invite-box {
    border: 1px solid nth($blue, 1);
    display: flex;
    margin: auto;
    width: 50%;
    height: 25%;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 5% 0;

    h2, h3 {
        margin: 5px;
    }

    form {
        width: 50%;
    }

    #return-home, #accept {
        height: 25px;
        margin-top: 10px;
    }
    #return-home {
        width: 50%;
    }
    #accept {
        width: 100%;
    }

    .button-box {
        width: 75%;
        display: flex;
        justify-content: space-around;

        button {
            margin: 5px;
        }
    }

    @media (max-width: 640px) {
        width: 85%;

        .button-box {
            flex-direction: column;

            button.three-d, form {
                width: 100% !important;
                margin: 0;
            }
        }
    }
}

#admin-row {
    form {
        margin: 0 5px;
    }
}

#course-sections {
    justify-content: space-between;
    width: 100%;

    .course_section_placeholder,
    div.section {
        background-color: lightgray;
        width: 100%;
        border-radius: 5px;
        margin: 10px 0;
    }

    .course_section_placeholder {
        height: calc(1.2em + 20px);
    }

    div.section {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 60px;

        button.collapse-button {
            background-color: nth($blue, 1);
            border: none;
            color: white;
            cursor: pointer;
            margin: 0;
            padding: 10px;
            text-align: left;
            transition: border-radius 1s;
            width: 100%;
            font-size: 1.2em;

            &:after {
                content: '-';
                float: right;
                margin-left: 5px;
            }

            &.collapsed {
                border-radius: 8px;
                transition-delay: 1s;

                &:after {
                    content: '+';
                }
            }
        }

        div.collapse-section {
            background-color: nth($blue, 2);
            display: block;
            overflow: hidden;
            padding: 10px;
        }

        div.section-admin-panel {
            padding: 5px;
            h4 {
                margin: 10px 0;
            }
            .three-d {
                margin-top: 5px;
            }
        }

        div.item-settings {
            .three-d {
                margin-right: 5px;
                margin-left: 0;
            }
        }

        div.section-add-component {
            overflow: hidden;
            padding: 10px;
            border-radius: 4px;
            border: 1.5px solid nth($blue, 1);

            div#form_container {
                margin-top: 10px;
                border: none;

                fieldset {
                    border: none;
                }
            }

            div#submission {
                justify-content: center;
                button.three-d {
                    margin: 0 5px;
                }
            }
        }
    }

    .lesson {
        background-color: color.adjust(nth($blue, 1), $red: +15, $green: +15, $blue: +15);
        justify-content: space-around;
        align-content: space-around;
        padding: 5%;
        margin: 15px 0;
        border-radius: 8px;

        h5, p {
            color: $black;
        }

        h5, p, .three-d {
            margin: 10px auto;
            text-align: center;
            width: 50%;
        }

        .three-d {
            height: 25px;
        }
    }

    @media (max-width: 640px) {
        div.section div.collapse-section {
            width: auto !important;
        }
    }
}

#course-section-add-form {
    overflow: hidden;
    width: 75%;
    margin: 0 auto;

    fieldset {
        legend {
            width: max-content;
        }

        border: 1.5px solid nth($blue, 1);
        border-radius: 8px;

        .submit-buttons {
            display: flex;
            justify-content: space-evenly;

            button {
                width: 45%;
                height: 25px;
            }
        }

        #new-section-description {
            padding-bottom: 150px;
            margin-bottom: 20px;
            vertical-align: top;
            word-wrap: break-word;
            word-break: break-all;
        }
    }
}

.course-button-mini {
    height: 25px;

    &:not(:first-of-type),
    &:last-of-type {
        margin-bottom: 10px;
    }
    &.no-buffer {
        margin-bottom: 0!important;
    }
}

.courses {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .course-item {
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 25%;
        background-color: #e1e4ea;
        padding: 10px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 60px;
        transition-property: box-shadow, transform;
        transition-duration: 500ms;

        .title {
            font-weight: bolder;
            margin-bottom: 0;
        }

        .course-button-mini {
            font-weight: bolder;
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: rgba(0, 0, 0, 0.6) 0px 15px 60px;
        }
    }

    @media (max-width: 640px) {
        .course-item {
            width: 45%;
            margin-bottom: 12px;
        }
    }
}

#course-code {
    label {
        margin-right: 10px;
    }
}
