@use "sass:color";

.lesson-items {
    .lesson-config {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 60px;
        margin-bottom: 15px;

        h2 {
            margin: 0;
            padding: 10px;
            width: calc(100% - 20px);
            background-color: nth($blue, 1);
            color: $white;
        }
        h3 {
            margin: 0;
        }

        textarea {
            height: 200px;
        }

        .container {
            padding: 10px;
            width: calc(100% - 20px);
            background-color: $white;
        }

        .answer-field {

            &.single-choice-field, &.multi-choice-field, &.true-false-field {
                display: flex;
                flex-wrap: wrap;
                align-content: center;

                button.three-d {
                    width: 40%;
                    margin: 5px auto;
                    height: 35px;

                    @media (max-width: 640px) {
                        width: 100%;
                    }
                }
            }

            &.match-field {
                display: flex;
                flex-wrap: wrap;
                align-content: center;

                .match-row {
                    width: 100%;
                    button.three-d {
                        width: 40%;
                        margin: 5px auto;
                        height: 35px;

                        @media (max-width: 640px) {
                            &.answer-button {
                                width: 40%!important;
                            }
                            width: 100%;
                        }
                    }
                }
            }

            &.wordsearch-field {
                width: 100%;
                .wordsearch {
                    display: flex;
                    flex-direction: column;
                    width: 60%;
                    .row {
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        margin: auto !important;
                        user-select: none;
                        -webkit-user-select: none;

                        .letter {
                            display: flex;
                            align-items: center;
                            transition-duration: 175ms;

                            &:hover {
                                background-color: #81d4fa;
                            }

                            &.wordsearch-selected {
                                background-color: #5a94af!important;
                            }

                            p {
                                margin: auto;
                            }
                        }
                    }
                }
            }

        }
    }
}
