@use "sass:color";

.lesson-items {
    .lesson-config {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 60px;
        margin-bottom: 15px;

        h2 {
            margin: 0;
            padding: 10px;
            width: calc(100% - 20px);
            background-color: nth($blue, 1);
            color: $white;
        }
        h3 {
            margin: 0;
        }

        textarea {
            height: 200px;
        }

        .container {
            padding: 10px;
            width: calc(100% - 20px);
            background-color: $white;
        }

        .answer-field {

            &.single-choice-field {
                display: flex;
                flex-wrap: wrap;
                align-content: center;

                button.three-d {
                    width: 40%;
                    margin: 5px auto;
                    height: 35px;
                }
            }

        }
    }
}
