@use "sass:color";

.progression {
    background-color: nth($blue, 1);
    padding: 10px;
    border-radius: 8px;
    font-family: "Cabin Sketch", sans-serif;

    h3 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 2em;
        font-weight: normal;
    }

    .progress-bar {
        width: 80%;
        background-color: color.adjust(nth($blue, 1), $red: -20, $green: -20, $blue: -20);
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .percentage {
            display: inline-block;
            border-radius: 15px;
            background-color: nth($blue, 2);
            min-width: 5px;
            padding-right: 3px;
            padding-left: 6px;
            text-align: right;
            box-shadow: inset 3px 3px 5px 0px rgb(227, 227, 227);;
        }
    }

    p.exp, p.streak {
        margin: 2% auto;
        color: nth($blue, 2);
        font-weight: bolder;
        text-shadow: 2px 2px color.adjust(nth($blue, 1), $red: -20, $green: -20, $blue: -20);
        span.exp-counter, span.streak-counter {
            margin-left: 7px;
            font-weight: normal;
        }
    }
}

.lesson-text-holder {
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 60px;
    h2 {
        margin: 0;
        background-color: nth($blue, 1);
        padding: 10px;
        color: nth($blue, 2);
    }
    div.main {
        padding: 10px;
        h3 {
            margin: 10px;
        }
    }
}

.lesson-items {
    .lesson-config {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 60px;
        margin-bottom: 15px;

        h2 {
            margin: 0;
            padding: 10px;
            width: calc(100% - 20px);
            background-color: nth($blue, 1);
            color: $white;
        }
        h3 {
            margin: 0;
            padding: 10px;
        }

        textarea {
            height: 200px;
        }

        .container {
            padding: 10px;
            width: calc(100% - 20px);
            background-color: $white;
        }

        .answer-field {

            &.single-choice-field, &.multi-choice-field, &.true-false-field {
                display: flex;
                flex-wrap: wrap;
                align-content: center;

                button.three-d {
                    width: 40%;
                    margin: 5px auto;
                    height: 35px;

                    @media (max-width: 640px) {
                        width: 100%;
                    }
                }
            }

            &.match-field {
                display: flex;
                flex-wrap: wrap;
                align-content: center;

                .match-row {
                    width: 100%;
                    button.three-d {
                        width: 40%;
                        margin: 5px auto;
                        height: 35px;

                        @media (max-width: 640px) {
                            &.answer-button {
                                width: 40%!important;
                            }
                            width: 100%;
                        }
                    }
                }
            }

            &.wordsearch-field {
                width: 100%;
                .wordsearch {
                    display: flex;
                    flex-direction: column;
                    width: 60%;
                    .row {
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        margin: auto !important;
                        user-select: none;
                        -webkit-user-select: none;

                        .letter {
                            display: flex;
                            align-items: center;
                            transition-duration: 175ms;

                            &:hover {
                                background-color: #81d4fa;
                            }

                            &.wordsearch-selected {
                                background-color: #5a94af!important;
                            }

                            p {
                                margin: auto;
                            }
                        }
                    }
                }
            }

            &.order-field {
                button.three-d {
                    cursor: move;
                    width: 80%;
                    margin: 10px auto;
                    height: 35px;

                    @media (max-width: 640px) {
                        width: 100%;
                        margin: 10px 0;
                    }
                }
            }

            &.fill-blanks-field {
                display: flex;
                flex-wrap: wrap;
                button.three-d {
                    width: 40%;
                    height: 35px;
                    margin: 10px auto;
                }
            }

        }
    }
}
