@use 'sass:color';

// Global variables
$white: #D9DCD6;
$off-white: color.adjust($white, $red: -20, $green: -20, $blue: -20);
$black: #1f1f1f;
$off-green: #66936f;

$nav: #CBD1D9, #A3B7D1;
$banner: #566899, #343F5C;
$blue: #6a7eb3, #CBD1D9;

// Stop CSS transitions from playing when the page loads.
.block-transitions, .ui-sortable-helper {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

// Miscellaneous items
.clickable {
    // Make the cursor turn into a pointer when it is hovered over
    cursor: pointer;
}

.left-float {
    float: left;
}

.right-float {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

legend {
    width: max-content;
}

// Device optimisations for master.scss
@media (max-width: 640px) {
    .left-float, .right-float {
        float: none !important;
    }
}
