body {
    font-family: 'Figtree', sans-serif;
    background-color: $white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .wrapper {
        flex: 1;

        .title h2 a {
            text-decoration: none;
            color: $black;
        }

        header {
            display: flex;
            align-items: center;
            background-color: nth($banner, 1);
            box-shadow: 0px 5px 5px nth($banner, 2);
            color: $white;
            padding: 20px;
            border-bottom: 1px solid nth($banner, 2);

            div.menu-toggle {
                display: none;
                .child-0, .child-1, .child-2, .child-3, .child-4 {
                    transition: transform 0.3s ease-out;
                    transform-box: fill-box;
                    transform-origin: center;
                }

                .child-3, .child-4 {
                    transform: scale(0);
                }

                &.active {
                    .child-0, .child-1, .child-2 {
                        transform: scaleX(0);
                    }

                    .child-3, .child-4 {
                        transform: scale(1);
                    }
                }
            }

            div.title {
                width: 100%;
                color: $black;
                font-family: 'Cabin Sketch', sans-serif;

                h2 {
                    margin: 0;
                    font-size: 2.5rem;
                    text-align: center;
                }
            }
        }

        nav {
            transition-duration: 0.3s;
            display: flex;
            height: 50px;
            justify-content: space-around;
            align-items: center;
            box-shadow: 0 5px 5px nth($nav, 2);
            background-color: nth($nav, 1);

            a {
                font-size: medium;
                color: $black;
                text-decoration: none;
                vertical-align: middle;
                transition: {
                    duration: 0.3s;
                    property: font-size;
                }
            }

            &.active {
                a {
                    font-size: medium;
                }
            }
        }
    }
}

// Device optimisations for header.scss
@media (max-width: 640px) {
    body {
        header {
            #menu-toggle {
                display: block;
            }
        }
        nav {
            a {
                font-size: 0!important;
            }
            height: 0!important;
            display: flex;
            flex-direction: column;
            &.active {
                height: 200px!important;
                a {
                    font-size: medium!important;
                }
            }
        }
    }
}
