body {
    nav #logout-form {
        margin-bottom: 0;
    }
    main {
        padding: 20px;
        margin: 0 15%;
    }

    .flex-row {
        display: flex;
        flex-direction: row!important;
        align-items: center;
    }

    .flex-col {
        display: flex;
        flex-direction: column!important;
    }

    .max-content {
        width: max-content!important;
    }

    .middle {
        margin: 0 auto;
    }

    .form-flex {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }

    .var-width {
        flex-grow: 1; /* Grow to take up remaining space */
    }
}

// Device optimisations
@media (max-width: 640px) {
    body {
        main {
            margin: 0 !important;
        }

        .form-flex {
            flex-direction: column;
        }
    }
}
