body {
    main {
        padding: 20px;
        margin: 0 15%;
    }

    .flex-row {
        display: flex;
        flex-direction: row!important;
        align-items: baseline;
    }

    .flex-col {
        display: flex;
        flex-direction: column!important;
    }

    .max-content {
        width: max-content!important;
    }

    .middle {
        margin: 0 auto;
    }

    .form-flex {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}

// Device optimisations
@media (max-width: 640px) {
    body {
        main {
            margin: 0 !important;
        }

        .form-flex {
            flex-direction: column;
        }
    }
}
