// Error message CSS
.message {
    border-radius: 8px;
    text-align: center;
    padding: 10px 10%;

    &.error-message {
        background-color: #ffbdbd;
        color: #c10000;
    }

    &.success-message {
        background-color: #9ff2a0;
        color: #009900;
        margin-bottom: 10px;
        border: 1px solid #009900;
    }
}

// Device optimisations for messages.scss
@media (max-width: 640px) {
    .message{
        padding: 10px 0!important;
        &* {
            text-align: center;
        }
    }
}
