/*
 * Important note: in CSS the files imported last override those imported first, this
 * is an important feature and CSS clashes may be resolved by changing the order of
 * imports.
 */
@import url("https://fonts.bunny.net/css?family=figtree:300");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");
.block-transitions, .ui-sortable-helper {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.clickable {
  cursor: pointer;
}

.left-float {
  float: left;
}

.right-float {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

legend {
  width: max-content;
}

@media (max-width: 640px) {
  .left-float, .right-float {
    float: none !important;
  }
}
/*
 * Component-based CSS
 */
button.three-d {
  -webkit-tap-highlight-color: transparent;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  outline-offset: 10px;
  padding: 0 10px;
  position: relative;
  box-shadow: 0 5px 4px #b1b4ae;
}
button.three-d, button.three-d > * {
  transition-property: transform, box-shadow;
  transition-duration: 300ms;
}
button.three-d.db-bs {
  box-shadow: 0 5px 4px #566a9f;
}
button.three-d .foreground {
  position: relative;
  align-items: center;
  border-radius: 12px;
  display: flex;
  height: 100%;
  justify-content: center;
  transform: translateY(-4px) translateX(-10px);
  width: 100%;
  padding: 0 10px;
}
button.three-d.selected {
  box-shadow: 0 2px 4px 0 #9da09a;
}
button.three-d.selected .foreground {
  transform: translateY(-2px) translateX(-10px) !important;
}
button.three-d[disabled] {
  filter: saturate(0%);
  cursor: default;
}
button.three-d[disabled] .foreground {
  filter: saturate(0%);
}
button.three-d:not([disabled]):hover {
  box-shadow: 0 5px 6px 2px #9da09a;
}
button.three-d:not([disabled]):hover .foreground {
  transform: translateY(-6px) translateX(-10px);
}
button.three-d:not([disabled]):active {
  box-shadow: 0 2px 4px 0 #9da09a;
}
button.three-d:not([disabled]):active .foreground {
  transform: translateY(-2px) translateX(-10px);
}

span.blank {
  transition-property: opacity;
  transition-duration: 500ms;
}
span.blank.filled {
  opacity: 0;
}
span.italicise {
  font-style: italic;
}
span.small-text {
  font-size: smaller;
}

.file-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  border: 1px solid #6a7eb3;
  overflow: hidden;
  border-radius: 8px;
}
.file-table .table-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #CBD1D9;
  transition-property: background-color;
  transition-duration: 500ms;
}
.file-table .table-row.table-header {
  background-color: #6a7eb3 !important;
  color: white;
}
.file-table .table-row:not(.table-header):hover {
  background-color: #b2b8c0;
}
.file-table .table-row .table-col {
  font-size: 1.25vw;
  word-wrap: anywhere;
  width: 25%;
  border: 0.5px solid #CBD1D9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.invite-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  border: 1px solid #6a7eb3;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 15px;
}
.invite-table .table-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #CBD1D9;
  transition-property: background-color;
  transition-duration: 500ms;
}
.invite-table .table-row.table-header {
  background-color: #6a7eb3 !important;
  color: white;
}
.invite-table .table-row:not(.table-header):hover {
  background-color: #b2b8c0;
}
.invite-table .table-row .table-col {
  font-size: 1.25vw;
  word-wrap: anywhere;
  width: 20%;
  border: 0.5px solid #CBD1D9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
}
.invite-table .table-row .table-col .three-d {
  font-size: 1vw !important;
}
.invite-table .table-row .table-col .max-use-form, .invite-table .table-row .table-col .expiry-date-form {
  word-wrap: break-word;
  width: 100%;
  align-items: center;
  overflow: hidden;
}
.invite-table .table-row .table-col .max-use-form input, .invite-table .table-row .table-col .expiry-date-form input {
  font-size: 0.9vw !important;
  padding: 5px;
  width: 80%;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: lightgray;
  text-align: center;
}

#new-invite-form {
  background-color: #CBD1D9;
}
#new-invite-form label {
  width: calc(100% - 20px);
  padding: 10px;
}
#new-invite-form span:not(.foreground) {
  display: inline-block;
  word-wrap: break-word;
  width: 25%;
}
#new-invite-form input, #new-invite-form textarea {
  width: 75%;
}
#new-invite-form fieldset {
  width: 80%;
  border: 1px solid #6a7eb3;
  border-radius: 8px;
}
#new-invite-form:not(#edit-section-form) {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 60px;
}
#new-invite-form#edit-section-form {
  border: 1px solid #6a7eb3;
}
#new-invite-form legend {
  background-color: #6a7eb3;
  width: calc(100% - 20px);
  padding: 10px;
  color: white;
}
#new-invite-form fieldset {
  margin-bottom: 15px;
}
#new-invite-form fieldset legend {
  border-radius: 8px;
}
@media (max-width: 640px) {
  #new-invite-form span:not(.foreground) {
    width: 100% !important;
  }
  #new-invite-form input, #new-invite-form textarea {
    width: calc(100% - 30px);
  }
}

@media (max-width: 640px) {
  .invite-table .table-row .table-col {
    font-size: 0.8em !important;
  }
  .invite-table .table-row .table-col .three-d {
    font-size: 0.8em !important;
    padding: 0 2px;
  }
  .invite-table .table-row .table-col .three-d span {
    padding: 0 2px;
    transform: translateY(-4px) translateX(-2px) !important;
  }
  .invite-table .table-row .table-col .three-d span:hover {
    transform: translateY(-6px) translateX(-2px) !important;
  }
  .invite-table .table-row .table-col .three-d:active .foreground {
    transform: translateY(-2px) translateX(-2px) !important;
  }
}
.user-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  border: 1px solid #6a7eb3;
  overflow: hidden;
  border-radius: 8px;
}
.user-table .table-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #CBD1D9;
  transition-property: background-color;
  transition-duration: 500ms;
}
.user-table .table-row.table-header {
  background-color: #6a7eb3 !important;
  color: white;
}
.user-table .table-row:not(.table-header):hover {
  background-color: #b2b8c0;
}
.user-table .table-row .table-col {
  font-size: 1.25vw;
  word-wrap: anywhere;
  width: 33.333%;
  border: 0.5px solid #CBD1D9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
}

.attempt-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  border: 1px solid #6a7eb3;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 15px;
}
.attempt-table .table-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #CBD1D9;
  transition-property: background-color;
  transition-duration: 500ms;
}
.attempt-table .table-row.table-header {
  background-color: #6a7eb3 !important;
  color: white;
}
.attempt-table .table-row:not(.table-header):hover {
  background-color: #b2b8c0;
}
.attempt-table .table-row .table-col {
  font-size: 1em;
  word-wrap: anywhere;
  width: 25%;
  border: 0.5px solid #CBD1D9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
}
.attempt-table .table-row .table-col .three-d {
  font-size: 1vw !important;
}
.attempt-table .table-row .table-col .max-use-form, .attempt-table .table-row .table-col .expiry-date-form {
  word-wrap: break-word;
  width: 100%;
  align-items: center;
  overflow: hidden;
}
.attempt-table .table-row .table-col .max-use-form input, .attempt-table .table-row .table-col .expiry-date-form input {
  font-size: 0.9vw !important;
  padding: 5px;
  width: 80%;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: lightgray;
  text-align: center;
}

@media (max-width: 640px) {
  .attempt-table .table-row .table-col {
    font-size: 0.8em !important;
  }
  .attempt-table .table-row .table-col .three-d {
    font-size: 0.8em !important;
    padding: 0 2px;
  }
  .attempt-table .table-row .table-col .three-d span {
    padding: 0 2px;
    transform: translateY(-4px) translateX(-2px) !important;
  }
  .attempt-table .table-row .table-col .three-d span:hover {
    transform: translateY(-6px) translateX(-2px) !important;
  }
  .attempt-table .table-row .table-col .three-d:active .foreground {
    transform: translateY(-2px) translateX(-2px) !important;
  }
}
/*
 * All specific-purpose SCSS files will be imported here
 */
#login-form, #register-box, #login-box, #register-form {
  width: 40%;
  margin: auto;
}
@media (max-width: 640px) {
  #login-form, #register-box, #login-box, #register-form {
    width: 100%;
  }
  #login-form input, #register-box input, #login-box input, #register-form input {
    width: calc(100% - 30px) !important;
  }
}

#password-requirements ul {
  list-style-type: none;
}

#course-details form, #edit-section-form, #basic-file-upload {
  background-color: #CBD1D9;
}
#course-details form label, #edit-section-form label, #basic-file-upload label {
  width: calc(100% - 20px);
  padding: 10px;
}
#course-details form span:not(.foreground), #edit-section-form span:not(.foreground), #basic-file-upload span:not(.foreground) {
  display: inline-block;
  word-wrap: break-word;
  width: 25%;
}
#course-details form input, #course-details form textarea, #edit-section-form input, #edit-section-form textarea, #basic-file-upload input, #basic-file-upload textarea {
  width: 75%;
}
#course-details form:not(#edit-section-form), #edit-section-form:not(#edit-section-form), #basic-file-upload:not(#edit-section-form) {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 60px;
}
#course-details form#edit-section-form, #edit-section-form#edit-section-form, #basic-file-upload#edit-section-form {
  border: 1px solid #6a7eb3;
}
#course-details form legend, #edit-section-form legend, #basic-file-upload legend {
  background-color: #6a7eb3;
  width: calc(100% - 20px);
  padding: 10px;
  color: white;
}
@media (max-width: 640px) {
  #course-details form span:not(.foreground), #edit-section-form span:not(.foreground), #basic-file-upload span:not(.foreground) {
    width: 100% !important;
  }
  #course-details form input, #course-details form textarea, #edit-section-form input, #edit-section-form textarea, #basic-file-upload input, #basic-file-upload textarea {
    width: calc(100% - 30px);
  }
}

#file-upload-slot {
  width: 100%;
}

#file-upload-slot::file-selector-button {
  width: 50%;
  border-radius: 5px;
  height: 50px;
  border: 1px solid #6a7eb3;
  background-color: #CBD1D9;
}

.section-edit-component {
  overflow: hidden;
}
.section-edit-component button {
  margin: 0 auto;
}

@media (max-width: 640px) {
  #course-details form .flex-row span {
    margin-right: 20px;
  }
}
span.blank {
  vertical-align: middle;
  border: 2px solid black;
  border-radius: 8px;
  width: 25%;
  display: inline-block;
  height: 30px;
}

.question-title {
  font-size: 20px;
  line-height: 2;
}

.question-form fieldset.single-choice-field, .question-form fieldset.fill-blanks-field, .question-form fieldset.boolean-field, .question-form fieldset.order-field, .question-form fieldset.match-field, .question-form fieldset.wordsearch-field {
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 30px;
}
.question-form fieldset.single-choice-field ul, .question-form fieldset.single-choice-field ol, .question-form fieldset.fill-blanks-field ul, .question-form fieldset.fill-blanks-field ol, .question-form fieldset.boolean-field ul, .question-form fieldset.boolean-field ol, .question-form fieldset.order-field ul, .question-form fieldset.order-field ol, .question-form fieldset.match-field ul, .question-form fieldset.match-field ol, .question-form fieldset.wordsearch-field ul, .question-form fieldset.wordsearch-field ol {
  width: 60%;
  list-style-type: none;
  padding-left: 0;
}
.question-form fieldset.single-choice-field ul button, .question-form fieldset.single-choice-field ol button, .question-form fieldset.fill-blanks-field ul button, .question-form fieldset.fill-blanks-field ol button, .question-form fieldset.boolean-field ul button, .question-form fieldset.boolean-field ol button, .question-form fieldset.order-field ul button, .question-form fieldset.order-field ol button, .question-form fieldset.match-field ul button, .question-form fieldset.match-field ol button, .question-form fieldset.wordsearch-field ul button, .question-form fieldset.wordsearch-field ol button {
  height: 50px;
  margin-bottom: 21px;
}
.question-form fieldset.single-choice-field.vertical > *, .question-form fieldset.fill-blanks-field.vertical > *, .question-form fieldset.boolean-field.vertical > *, .question-form fieldset.order-field.vertical > *, .question-form fieldset.match-field.vertical > *, .question-form fieldset.wordsearch-field.vertical > * {
  display: flex;
  flex-direction: column;
}
.question-form fieldset .left-box, .question-form fieldset .right-box {
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: space-around;
  align-items: center;
}
.question-form fieldset .left-box .three-d, .question-form fieldset .right-box .three-d {
  width: 80%;
  margin-bottom: 21px;
}
.question-form fieldset .wordsearch {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.question-form fieldset .wordsearch .row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: auto !important;
  user-select: none;
  -webkit-user-select: none;
}
.question-form fieldset .wordsearch .row .letter {
  display: flex;
  align-items: center;
  transition-duration: 175ms;
}
.question-form fieldset .wordsearch .row .letter:hover {
  background-color: #81d4fa;
}
.question-form fieldset .wordsearch .row .letter.wordsearch-selected {
  background-color: #5a94af !important;
}
.question-form fieldset .wordsearch .row .letter p {
  margin: auto;
}
.question-form button.option-button, .question-form button.draggable-choice {
  height: 50px;
  margin-bottom: 21px;
}
.question-form button.option-button.option-button, .question-form button.draggable-choice.option-button {
  width: 45%;
}
.question-form button.option-button.draggable-choice, .question-form button.draggable-choice.draggable-choice {
  width: 100%;
}
.question-form button.option-button:not(.ui-sortable-helper), .question-form button.draggable-choice:not(.ui-sortable-helper) {
  margin-left: auto;
  margin-right: auto;
}
.question-form button.option-button span, .question-form button.draggable-choice span {
  border: 1px solid black;
  border-radius: 8px;
}
.question-form button.option-button span:hover, .question-form button.draggable-choice span:hover {
  border-color: grey;
}
.question-form input[type=submit], .question-form button[type=submit] {
  width: 50%;
  margin: 15px auto;
  height: 30px;
}
.question-form input[type=submit]:not([disabled]), .question-form button[type=submit]:not([disabled]) {
  cursor: pointer;
}
.question-form ul {
  width: 100%;
}
.question-form #cover-box {
  transition-duration: 300ms;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.question-form #cover-box .content {
  transition-duration: 300ms;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #c5c8c2;
  box-shadow: 0px 5px 5px #b1b4ae;
  border-radius: 8px;
  position: fixed;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.question-form #cover-box .content > * {
  margin: 10px auto;
}
.question-form #cover-box .content #title {
  margin-bottom: 0;
}
.question-form #cover-box .content button {
  width: 50%;
}

@media (max-width: 640px) {
  .question-form button.option-button, .question-form button.draggable-choice {
    width: 80%;
  }
  .question-form #cover-box .content {
    width: 50% !important;
  }
}
#new-lesson-item {
  background-color: #CBD1D9;
}
#new-lesson-item label {
  width: calc(100% - 20px);
  padding: 10px;
}
#new-lesson-item span:not(.foreground):not(.span-ignore) {
  display: inline-block;
  word-wrap: break-word;
  width: 25%;
}
#new-lesson-item input:not([type=checkbox]), #new-lesson-item textarea, #new-lesson-item select, #new-lesson-item label div:not(.custom-toggle) {
  width: 75%;
}
#new-lesson-item fieldset {
  width: 80%;
  border: 1px solid #6a7eb3;
  border-radius: 8px;
}
#new-lesson-item:not(#edit-section-form) {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 60px;
}
#new-lesson-item#edit-section-form {
  border: 1px solid #6a7eb3;
}
#new-lesson-item legend {
  background-color: #6a7eb3;
  width: calc(100% - 20px);
  padding: 10px;
  color: white;
}
#new-lesson-item fieldset {
  margin-bottom: 15px;
}
#new-lesson-item fieldset legend {
  border-radius: 8px;
}
#new-lesson-item .detail-container {
  width: 100%;
}
#new-lesson-item input {
  min-width: 0;
}
#new-lesson-item #add-btn {
  margin-left: 10px;
}
#new-lesson-item .answer-row {
  width: 70%;
  background-color: #6a7eb3;
  color: #D9DCD6;
  text-align: center;
  padding: 10px;
  align-items: baseline;
  border-radius: 8px;
  margin-bottom: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#new-lesson-item #submit-btn {
  margin-top: 10px;
}
#new-lesson-item .error {
  padding: 5px;
  border-radius: 8px;
  background-color: #ffbdbd;
  color: #c10000;
  margin-left: 10px;
}
#new-lesson-item #answer-box {
  display: flex;
  flex-wrap: wrap;
}
#new-lesson-item #answer-box button.three-d {
  margin: 10px auto;
  width: 40%;
}
@media (max-width: 640px) {
  #new-lesson-item span:not(.foreground) {
    width: 100% !important;
  }
  #new-lesson-item input:not([type=checkbox]), #new-lesson-item textarea, #new-lesson-item select, #new-lesson-item label div:not(.custom-toggle) {
    width: 100% !important;
  }
  #new-lesson-item #question-container input:not([type=checkbox]), #new-lesson-item #question-container textarea {
    width: calc(100% - 30px) !important;
  }
  #new-lesson-item select {
    margin-top: 5px;
  }
}

/*
 * All general-purpose SCSS files will be imported here
 */
body {
  font-family: "Figtree", sans-serif;
  background-color: #D9DCD6;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body .wrapper {
  flex: 1;
}
body .wrapper .title h2 a {
  text-decoration: none;
  color: #1f1f1f;
}
body .wrapper header {
  display: flex;
  align-items: center;
  background-color: #566899;
  box-shadow: 0px 5px 5px #343F5C;
  color: #D9DCD6;
  padding: 20px;
  border-bottom: 1px solid #343F5C;
}
body .wrapper header div.menu-toggle {
  display: none;
}
body .wrapper header div.menu-toggle .child-0, body .wrapper header div.menu-toggle .child-1, body .wrapper header div.menu-toggle .child-2, body .wrapper header div.menu-toggle .child-3, body .wrapper header div.menu-toggle .child-4 {
  transition: transform 0.3s ease-out;
  transform-box: fill-box;
  transform-origin: center;
}
body .wrapper header div.menu-toggle .child-3, body .wrapper header div.menu-toggle .child-4 {
  transform: scale(0);
}
body .wrapper header div.menu-toggle.active .child-0, body .wrapper header div.menu-toggle.active .child-1, body .wrapper header div.menu-toggle.active .child-2 {
  transform: scaleX(0);
}
body .wrapper header div.menu-toggle.active .child-3, body .wrapper header div.menu-toggle.active .child-4 {
  transform: scale(1);
}
body .wrapper header div.title {
  width: 100%;
  color: #1f1f1f;
  font-family: "Cabin Sketch", sans-serif;
}
body .wrapper header div.title h2 {
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
}
body .wrapper nav {
  transition-duration: 0.3s;
  display: flex;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 5px 5px #A3B7D1;
  background-color: #CBD1D9;
}
body .wrapper nav a {
  font-size: medium;
  color: #1f1f1f;
  text-decoration: none;
  vertical-align: middle;
  transition-duration: 0.3s;
  transition-property: font-size;
}
body .wrapper nav.active a {
  font-size: medium;
}

@media (max-width: 640px) {
  body header #menu-toggle {
    display: block;
  }
  body nav {
    height: 0 !important;
    display: flex;
    flex-direction: column;
  }
  body nav a {
    font-size: 0 !important;
  }
  body nav.active {
    height: 200px !important;
  }
  body nav.active a {
    font-size: medium !important;
  }
}
body nav #logout-form {
  margin-bottom: 0;
}
body main {
  padding: 20px;
  margin: 0 15%;
}
body .flex-row {
  display: flex;
  flex-direction: row !important;
  align-items: center;
}
body .flex-col {
  display: flex;
  flex-direction: column !important;
}
body .max-content {
  width: max-content !important;
}
body .middle {
  margin: 0 auto;
}
body .form-flex {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
body .var-width {
  flex-grow: 1; /* Grow to take up remaining space */
}
body .move {
  cursor: move;
}

@media (max-width: 640px) {
  body main {
    margin: 0 !important;
  }
  body .form-flex {
    flex-direction: column;
  }
}
body footer {
  margin-top: 42.5px;
  height: 100px;
  background-color: #566899;
  color: #D9DCD6;
  bottom: 0;
}
body footer .main-box {
  display: flex;
  background-color: #343F5C;
  border-radius: 10px;
  width: 75%;
  margin: -37.5px 12.5%;
  height: 75px;
  overflow: hidden;
}
body footer .main-box .description {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
}
body footer .main-box .description p {
  padding: 5px;
  margin: 0;
}
body footer .main-box .description p:first-of-type {
  margin-top: auto;
}
body footer .main-box .description p:last-of-type {
  margin-bottom: auto;
}
body footer .main-box .sign-up {
  display: flex;
  justify-content: center;
  align-content: space-around;
  width: 25%;
  height: 100%;
  color: #D9DCD6;
}
body footer .main-box .sign-up a {
  font-size: 1vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition-duration: 0.3s;
  width: 50%;
  height: 50%;
  margin: auto;
  background-color: #c5c8c2;
  border-radius: 10px;
  text-decoration: none;
  color: #1f1f1f;
}
body footer .main-box .sign-up a:hover {
  height: 65%;
  width: 55%;
  background-color: #a7aaa4;
}

.progression {
  background-color: #6a7eb3;
  padding: 10px;
  border-radius: 8px;
  font-family: "Cabin Sketch", sans-serif;
}
.progression h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: normal;
}
.progression .progress-bar {
  width: 80%;
  background-color: #566a9f;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.progression .progress-bar .percentage {
  display: inline-block;
  border-radius: 15px;
  background-color: #CBD1D9;
  min-width: 5px;
  padding-right: 3px;
  padding-left: 6px;
  text-align: right;
  box-shadow: inset 3px 3px 5px 0px rgb(227, 227, 227);
}
.progression p.exp, .progression p.streak {
  margin: 2% auto;
  color: #CBD1D9;
  font-weight: bolder;
  text-shadow: 2px 2px #566a9f;
}
.progression p.exp span.exp-counter, .progression p.exp span.streak-counter, .progression p.streak span.exp-counter, .progression p.streak span.streak-counter {
  margin-left: 7px;
  font-weight: normal;
}

.lesson-text-holder {
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 60px;
}
.lesson-text-holder h2 {
  margin: 0;
  background-color: #6a7eb3;
  padding: 10px;
  color: #CBD1D9;
}
.lesson-text-holder div.main {
  padding: 10px;
}
.lesson-text-holder div.main h3 {
  margin: 10px;
}

.lesson-items .lesson-config {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 60px;
  margin-bottom: 15px;
}
.lesson-items .lesson-config h2 {
  margin: 0;
  padding: 10px;
  width: calc(100% - 20px);
  background-color: #6a7eb3;
  color: #D9DCD6;
}
.lesson-items .lesson-config h3 {
  margin: 0;
  padding: 10px;
}
.lesson-items .lesson-config textarea {
  height: 200px;
}
.lesson-items .lesson-config .container {
  padding: 10px;
  width: calc(100% - 20px);
  background-color: #D9DCD6;
}
.lesson-items .lesson-config .answer-field.single-choice-field, .lesson-items .lesson-config .answer-field.multi-choice-field, .lesson-items .lesson-config .answer-field.true-false-field {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.lesson-items .lesson-config .answer-field.single-choice-field button.three-d, .lesson-items .lesson-config .answer-field.multi-choice-field button.three-d, .lesson-items .lesson-config .answer-field.true-false-field button.three-d {
  width: 40%;
  margin: 5px auto;
  height: 35px;
}
@media (max-width: 640px) {
  .lesson-items .lesson-config .answer-field.single-choice-field button.three-d, .lesson-items .lesson-config .answer-field.multi-choice-field button.three-d, .lesson-items .lesson-config .answer-field.true-false-field button.three-d {
    width: 100%;
  }
}
.lesson-items .lesson-config .answer-field.match-field {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.lesson-items .lesson-config .answer-field.match-field .match-row {
  width: 100%;
}
.lesson-items .lesson-config .answer-field.match-field .match-row button.three-d {
  width: 40%;
  margin: 5px auto;
  height: 35px;
}
@media (max-width: 640px) {
  .lesson-items .lesson-config .answer-field.match-field .match-row button.three-d {
    width: 100%;
  }
  .lesson-items .lesson-config .answer-field.match-field .match-row button.three-d.answer-button {
    width: 40% !important;
  }
}
.lesson-items .lesson-config .answer-field.wordsearch-field {
  width: 100%;
}
.lesson-items .lesson-config .answer-field.wordsearch-field .wordsearch {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.lesson-items .lesson-config .answer-field.wordsearch-field .wordsearch .row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: auto !important;
  user-select: none;
  -webkit-user-select: none;
}
.lesson-items .lesson-config .answer-field.wordsearch-field .wordsearch .row .letter {
  display: flex;
  align-items: center;
  transition-duration: 175ms;
}
.lesson-items .lesson-config .answer-field.wordsearch-field .wordsearch .row .letter:hover {
  background-color: #81d4fa;
}
.lesson-items .lesson-config .answer-field.wordsearch-field .wordsearch .row .letter.wordsearch-selected {
  background-color: #5a94af !important;
}
.lesson-items .lesson-config .answer-field.wordsearch-field .wordsearch .row .letter p {
  margin: auto;
}
.lesson-items .lesson-config .answer-field.order-field button.three-d {
  cursor: move;
  width: 80%;
  margin: 10px auto;
  height: 35px;
}
@media (max-width: 640px) {
  .lesson-items .lesson-config .answer-field.order-field button.three-d {
    width: 100%;
    margin: 10px 0;
  }
}
.lesson-items .lesson-config .answer-field.fill-blanks-field {
  display: flex;
  flex-wrap: wrap;
}
.lesson-items .lesson-config .answer-field.fill-blanks-field button.three-d {
  width: 40%;
  height: 35px;
  margin: 10px auto;
}

.message {
  border-radius: 8px;
  text-align: center;
  padding: 10px 10%;
}
.message.error-message {
  background-color: #ffbdbd;
  color: #c10000;
}
.message.success-message {
  background-color: #9ff2a0;
  color: #009900;
  margin-bottom: 10px;
  border: 1px solid #009900;
}

@media (max-width: 640px) {
  .message {
    padding: 10px 0 !important;
  }
  .message* {
    text-align: center;
  }
}
form:not([id=logout-form]) {
  display: flex;
  flex-direction: column;
}
form:not([id=logout-form]) label.flex-row {
  align-items: center;
}
form:not([id=logout-form]) label.required:after, form:not([id=logout-form]) span.required:after {
  content: "*";
  color: red;
  padding-left: 2.5px;
}
form:not([id=logout-form]) textarea {
  resize: none;
}
form:not([id=logout-form]) input, form:not([id=logout-form]) textarea {
  border: 1px #6a7eb3 solid;
  padding: 5px 15px;
  margin-bottom: 1vh;
  border-radius: 5px;
  transition-duration: 0.5s;
  transition-property: border-color, padding;
}
form:not([id=logout-form]) input[type=submit], form:not([id=logout-form]) textarea[type=submit] {
  width: 50%;
  margin: 0 auto;
  padding: 10px 0;
}
form:not([id=logout-form]) input.invalid-element, form:not([id=logout-form]) textarea.invalid-element {
  border-color: #c10000;
}
form:not([id=logout-form]) input:focus, form:not([id=logout-form]) textarea:focus {
  outline: none !important;
  padding: 15px;
}
form:not([id=logout-form]) .custom-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
form:not([id=logout-form]) .custom-toggle .toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}
form:not([id=logout-form]) .custom-toggle .toggle-input:checked + .toggle-label {
  background-color: #CBD1D9;
  border: 1px solid #6a7eb3;
}
form:not([id=logout-form]) .custom-toggle .toggle-input:checked + .toggle-label::before {
  background-color: #6a7eb3;
  transform: translateX(24px);
}
form:not([id=logout-form]) .custom-toggle .toggle-label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6a7eb3;
  border-radius: 34px;
  transition: background-color 0.4s;
}
form:not([id=logout-form]) .custom-toggle .toggle-label::before {
  cursor: pointer;
  content: "";
  font-size: 0.8em;
  vertical-align: center;
  position: absolute;
  height: calc(100% - 8px);
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #CBD1D9;
  border-radius: 50%;
  transition: transform 0.4s;
}
form:not([id=logout-form]) .custom-toggle .toggle-label:focus {
  box-shadow: 0 0 1px #6a7eb3;
}

#invite-box {
  border: 1px solid #6a7eb3;
  display: flex;
  margin: auto;
  width: 50%;
  height: 25%;
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 5% 0;
}
#invite-box h2, #invite-box h3 {
  margin: 5px;
}
#invite-box form {
  width: 50%;
}
#invite-box #return-home, #invite-box #accept {
  height: 25px;
  margin-top: 10px;
}
#invite-box #return-home {
  width: 50%;
}
#invite-box #accept {
  width: 100%;
}
#invite-box .button-box {
  width: 75%;
  display: flex;
  justify-content: space-around;
}
#invite-box .button-box button {
  margin: 5px;
}
@media (max-width: 640px) {
  #invite-box {
    width: 85%;
  }
  #invite-box .button-box {
    flex-direction: column;
  }
  #invite-box .button-box button.three-d, #invite-box .button-box form {
    width: 100% !important;
    margin: 0;
  }
}

#admin-row form {
  margin: 0 5px;
}

#course-sections {
  justify-content: space-between;
  width: 100%;
}
#course-sections .course_section_placeholder,
#course-sections div.section {
  background-color: lightgray;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
}
#course-sections .course_section_placeholder {
  height: calc(1.2em + 20px);
}
#course-sections div.section {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 60px;
}
#course-sections div.section button.collapse-button {
  background-color: #6a7eb3;
  border: none;
  color: white;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  text-align: left;
  transition: border-radius 1s;
  width: 100%;
  font-size: 1.2em;
}
#course-sections div.section button.collapse-button:after {
  content: "-";
  float: right;
  margin-left: 5px;
}
#course-sections div.section button.collapse-button.collapsed {
  border-radius: 8px;
  transition-delay: 1s;
}
#course-sections div.section button.collapse-button.collapsed:after {
  content: "+";
}
#course-sections div.section div.collapse-section {
  background-color: #CBD1D9;
  display: block;
  overflow: hidden;
  padding: 10px;
}
#course-sections div.section div.section-admin-panel {
  padding: 5px;
}
#course-sections div.section div.section-admin-panel h4 {
  margin: 10px 0;
}
#course-sections div.section div.section-admin-panel .three-d {
  margin-top: 5px;
}
#course-sections div.section div.item-settings .three-d {
  margin-right: 5px;
  margin-left: 0;
}
#course-sections div.section div.section-add-component {
  overflow: hidden;
  padding: 10px;
  border-radius: 4px;
  border: 1.5px solid #6a7eb3;
}
#course-sections div.section div.section-add-component div#form_container {
  margin-top: 10px;
  border: none;
}
#course-sections div.section div.section-add-component div#form_container fieldset {
  border: none;
}
#course-sections div.section div.section-add-component div#submission {
  justify-content: center;
}
#course-sections div.section div.section-add-component div#submission button.three-d {
  margin: 0 5px;
}
#course-sections .lesson {
  background-color: #798dc2;
  justify-content: space-around;
  align-content: space-around;
  padding: 5%;
  margin: 15px 0;
  border-radius: 8px;
}
#course-sections .lesson h5, #course-sections .lesson p {
  color: #1f1f1f;
}
#course-sections .lesson h5, #course-sections .lesson p, #course-sections .lesson .three-d {
  margin: 10px;
  text-align: center;
}
#course-sections .lesson .three-d {
  height: 25px;
}
@media (max-width: 640px) {
  #course-sections div.section div.collapse-section {
    width: auto !important;
  }
}

#course-section-add-form {
  overflow: hidden;
  width: 75%;
  background-color: #CBD1D9;
}
#course-section-add-form label {
  width: calc(100% - 20px);
  padding: 10px;
}
#course-section-add-form span:not(.foreground) {
  display: inline-block;
  word-wrap: break-word;
  width: 25%;
}
#course-section-add-form input, #course-section-add-form textarea {
  width: 70%;
}
#course-section-add-form fieldset {
  width: 80%;
  border: 1px solid #6a7eb3;
  border-radius: 8px;
}
#course-section-add-form:not(#edit-section-form) {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 60px;
}
#course-section-add-form#edit-section-form {
  border: 1px solid #6a7eb3;
}
#course-section-add-form legend {
  background-color: #6a7eb3;
  width: calc(100% - 20px);
  padding: 10px;
  color: white;
}
#course-section-add-form #new-section-description {
  padding-bottom: 150px;
  margin-bottom: 20px;
  vertical-align: top;
  word-wrap: break-word;
  word-break: break-all;
}
#course-section-add-form .submit-buttons {
  display: flex;
  justify-content: space-evenly;
}
#course-section-add-form .submit-buttons button {
  width: 45%;
  height: 25px;
}
@media (max-width: 640px) {
  #course-section-add-form span:not(.foreground) {
    width: 100% !important;
  }
  #course-section-add-form input, #course-section-add-form textarea {
    width: calc(100% - 30px);
  }
}

.course-button-mini {
  height: 25px;
}
.course-button-mini:not(:first-of-type), .course-button-mini:last-of-type {
  margin-bottom: 10px;
}
.course-button-mini.no-buffer {
  margin-bottom: 0 !important;
}

.courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.courses .course-item {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #e1e4ea;
  padding: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 60px;
  transition-property: box-shadow, transform;
  transition-duration: 500ms;
}
.courses .course-item .title {
  font-weight: bolder;
  margin-bottom: 0;
}
.courses .course-item .course-button-mini {
  font-weight: bolder;
}
.courses .course-item:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 15px 60px;
}
@media (max-width: 640px) {
  .courses .course-item {
    width: 45%;
    margin-bottom: 12px;
  }
}

#course-code label {
  margin-right: 10px;
}

#create-course {
  background-color: #CBD1D9;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 60px;
}
#create-course label {
  width: calc(100% - 20px);
  padding: 10px;
}
#create-course span:not(.foreground) {
  display: inline-block;
  word-wrap: break-word;
  width: 25%;
}
#create-course input, #create-course textarea {
  width: 75%;
}
#create-course legend {
  background-color: #6a7eb3;
  width: calc(100% - 20px);
  padding: 10px;
  color: white;
}
@media (max-width: 640px) {
  #create-course span {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
