@use "sass:color";

.file-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    border: 1px solid nth($blue, 1);
    overflow: hidden;
    border-radius: 8px;

    .table-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: nth($blue, 2);
        transition-property: background-color;
        transition-duration: 500ms;

        &.table-header {
            background-color: nth($blue, 1)!important;
            color: white;
        }

        &:not(.table-header):hover {
            background-color: color.adjust(nth($blue, 2), $red:-25, $green:-25, $blue:-25);
        }

        .table-col {
            font-size: 1.25vw;
            word-wrap: anywhere;
            width: 25%;
            border: 0.5px solid nth($blue, 2);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
    }
}
