span {
    &.blank {
        transition-property: opacity;
        transition-duration: 500ms;
        &.filled {
            opacity: 0;
        }
    }

    &.italicise {
        font-style: italic;
    }
}
