#new-lesson-item {
    label {
        width: calc(100% - 20px);
        padding: 10px;
    }

    span:not(.foreground) {
        display: inline-block;
        word-wrap: break-word;
        width: 25%;
    }

    input:not([type='checkbox']), textarea, select, label div:not(.custom-toggle) {
        width: 75%;
    }

    fieldset {
        width: 80%;
        border: 1px solid nth($blue, 1);
        border-radius: 8px;
    }

    background-color: #CBD1D9;
    &:not(#edit-section-form) {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 60px;
    }
    &#edit-section-form {
        border: 1px solid nth($blue, 1);
    }

    legend {
        background-color: #6a7eb3;
        width: calc(100% - 20px);
        padding: 10px;
        color: white;
    }

    fieldset {
        margin-bottom: 15px;
        legend {
            border-radius: 8px;
        }
    }

    .detail-container {
        width: 100%;
    }

    input {
        min-width: 0;
    }
    #add-btn {
        margin-left: 10px;
    }

    .answer-row {
        width: 70%;
        background-color: nth($blue, 1);
        color: $white;
        text-align: center;
        padding: 10px;
        align-items: baseline;
        border-radius: 8px;
        margin-bottom: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    #submit-btn {
        margin-top: 10px;
    }

    .error {
        padding: 5px;
        border-radius: 8px;
        background-color: #ffbdbd;
        color: #c10000;
        margin-left: 10px;
    }

    @media (max-width: 640px) {
        span:not(.foreground) {
            width: 100%!important;
        }
        input:not([type='checkbox']), textarea, select, label div:not(.custom-toggle) {
            width: 100%!important;
        }
        #question-container input:not([type='checkbox']), #question-container textarea {
            width: calc(100% - 30px)!important;
        }
        select {
            margin-top: 5px;
        }
    }
}
