.question-form {

    fieldset.single-choice-field {
        // Base properties
        border: 1px solid black;
        border-radius: 8px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 30px;
    }

    button.option-button {
        width: 45%;
        height: 50px;
        margin-bottom: 21px;
        // Pseudo-classes
        // User-defined classes
        &.selected {
            background-color: $bannerColours;
            border-width: 0;
        }
    }

    input[type="submit"] {
        // Base properties
        margin-top: 15px!important;
        // Pseudo-classes
        &:not([disabled]) {
            cursor: pointer;
        }
    }

}

@media (max-width: 640px) {
    button.option-button {
        width: 85%!important;
    }
}
