@use "sass:color";

.question-title {
    font-size: 20px;
    line-height: 2;

    span.blank {
        vertical-align: middle;
        border: 2px solid black;
        border-radius: 8px;
        width: 25%;
        display: inline-block;
        height: 30px;
    }
}

.question-form {

    fieldset {
        &.single-choice-field, &.fill-blanks-field, &.boolean-field, &.order-field, &.match-field, &.wordsearch-field {
            // Base properties
            border: 1px solid black;
            border-radius: 8px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding-top: 30px;
            ul, ol {
                width: 60%;
                list-style-type: none;
                padding-left: 0;
                button {
                    height: 50px;
                    margin-bottom: 21px;
                }
            }
            &.vertical > * {
                display: flex;
                flex-direction: column;
            }
        }

        .left-box, .right-box {
            display: flex;
            flex-direction: column;
            width: 45%;
            justify-content: space-around;
            align-items: center;
            .three-d {
                width: 80%;
                margin-bottom: 21px;
            }
        }

        .wordsearch {
            display: flex;
            flex-direction: column;
            width: 100%;
            .row {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                margin: auto !important;
                user-select: none;
                -webkit-user-select: none;

                .letter {
                    display: flex;
                    align-items: center;
                    transition-duration: 175ms;

                    &:hover {
                        background-color: #81d4fa;
                    }

                    &.wordsearch-selected {
                        background-color: #5a94af!important;
                    }

                    p {
                        margin: auto;
                    }
                }
            }
        }
    }

    button.option-button, button.draggable-choice {
        &.option-button {
            width: 45%;
        }
        &.draggable-choice {
            width: 100%;
        }
        height: 50px;
        margin-bottom: 21px;
        &:not(.ui-sortable-helper) {
            margin-left: auto;
            margin-right: auto;
        }

        span {
            border: 1px solid black;
            border-radius: 8px;

            &:hover {
                border-color: grey;
            }
        }
    }

    input[type="submit"], button[type="submit"] {
        // Base properties
        width: 50%;
        margin: 15px auto;
        height: 30px;
        // Pseudo-classes
        &:not([disabled]) {
            cursor: pointer;
        }
    }

    ul {
        width: 100%;
    }

    #cover-box {
        transition-duration: 300ms;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        .content {
            transition-duration: 300ms;
            padding: 2.5%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: $off-white;
            box-shadow: 0px 5px 5px color.adjust($off-white, $red: -20, $green: -20, $blue: -20);
            border-radius: 8px;
            position: fixed;
            top: 200%;
            left: 50%;
            transform: translate(-50%, -50%);

            & > * {
                margin: 10px auto;
            }

            #title {
                margin-bottom: 0;
            }

            button {
                width: 50%;
            }
        }
    }

}

@media (max-width: 640px) {
    .question-form button.option-button, .question-form button.draggable-choice {
        width: 80%;
    }

    .question-form #cover-box .content {
        width: 50%!important;
    }
}
