#course-details form, #edit-section-form {
    width: 100%;

    &#edit-section-form {
        border: 1.5px solid #638ca7;
        padding: 10px;
        border-radius: 5px;
        width: calc(100% - 24px);
        margin-bottom: 10px;
    }

    .flex-row {
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;

        span {
            width: 25%;
        }

        input, textarea, select {
            width: 75%;
        }
    }
    button.three-d#details-submit {
        margin: 10px auto;
    }
}

.section-edit-component {
    overflow: hidden;

    button {
        margin: 0 auto;
    }
}

// Device optimisations for settings.scss
@media (max-width: 640px) {
    #course-details form .flex-row span {
        margin-right: 20px;
    }
}
