
#course-details form, #edit-section-form, #basic-file-upload {
    label {
        width: calc(100% - 20px);
        padding: 10px;
    }

    span:not(.foreground) {
        display: inline-block;
        word-wrap: break-word;
        width: 25%;
    }

    input, textarea {
        width: 75%;
    }

    background-color: #CBD1D9;

    &:not(#edit-section-form) {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 60px;
    }

    &#edit-section-form {
        border: 1px solid nth($blue, 1);
    }

    legend {
        background-color: #6a7eb3;
        width: calc(100% - 20px);
        padding: 10px;
        color: white;
    }

    @media (max-width: 640px) {
        span:not(.foreground) {
            width: 100% !important;
        }
        input, textarea {
            width: calc(100% - 30px);
        }
    }
}

#file-upload-slot {
    width: 100%;
}

#file-upload-slot::file-selector-button {
    width: 50%;
    border-radius: 5px;
    height: 50px;
    border: 1px solid nth($blue, 1);
    background-color: nth($blue, 2);
}

.section-edit-component {
    overflow: hidden;

    button {
        margin: 0 auto;
    }
}

// Device optimisations for settings.scss
@media (max-width: 640px) {
    #course-details form .flex-row span {
        margin-right: 20px;
    }
}
